body {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-print-color-adjust: exact;
}

.air {
  background-color: #E0E0E0;
}

.fire {
  background-color: #FF5722;
}

.earth {
  background-color: #4CAF50;
}

.water {
  background-color: #00BCD4;
}

.card {
  width: 216px;
  height: 310px;
  display: inline-block;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
}

.titleLine {
  width: 210px;
  height: 24px;
  position: relative;
  background-color: white;
  border: 1px solid black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  top: -26px;
  left: -1px;
  z-index: 1;
  font-family: 'Libre Baskerville';
}

.imageContainer {
  position: relative;
  background-color: white;
  top: -15px;
  height: 135px;
  width: 216px;
}

.image {
  position: relative;
  top: 0px;
  width: 216px;
  height: 135px;
  opacity: 0.85;
}

.text {
  font-family: 'Roboto';
  position: relative;
  top: -35px;
  width: 206px;
  height: 125px;
  padding: 5px;
  opacity: 0.7;
  background-color: white;
  font-size: 12px;
  padding-top: 18px;
}

.targetLine {
  margin-bottom: 8px;
}

.targetKeyword {
  font-weight: 700;
}

.typeLine {
  font-family: 'Libre Baskerville';
  position: relative;
  top: -38px;
  left: 0px;
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.diceRoll {
}

.costLine {
  position: relative;
  top: -2px;
  left: 0;
  padding-left: 10px;
  z-index: 2;
}

.cost {
  background-color: white !important;
  opacity: 1 !important;
  padding: 4px 4px 0 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
}

.textCost {
  font-size: 10px;
  position: relative;
  top: -4px;
  padding-bottom: 5px;
}

.inlineCost {
  padding-top: 0;
}

.inlineCostLine {
  position: relative;
  top: -8px;
}

.inlineCard {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  position: relative;
  top: 2px;
}

.inlineText {
  position: relative;
  top: -6px;
}

.setNumber {
  float: right;
  margin-top: 3px;
  margin-right: 1px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 10px;
  font-familiy: 'Roboto';
  font-weight: 700;
  position: relative;
  top: -26px;
  z-index: 5;
  background-color: #CCCCCC;
}

.choices {
  padding: 5px 10px 5px 10px;
}

p {
  margin: 0 0 5px 0;
}