body {
  background-color: #EEEEEE;
  margin: 0;
}

.title {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Libre Baskerville';
}

.content {
  max-width: 600px;
  position: fixed;
  left: 150px;
  margin: 0 auto 0 auto;
  background-color: #FFFFFF;
  padding: 50px;
  box-shadow: 5px 5px 5px #CCCCCC;
  overflow-y: scroll;
  height: 100%;
}

.imageBlock {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .content {
    position: inherit;
    margin-top: 10px;
    overflow-y: inherit;
    height: inherit;
  }
}

#toc {
    top: 0px;
    left: 0px;
    height: 95%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
    overflow-y: scroll;
    font-size: 20px;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .-h1 {
  font-weight: bold;
  text-decoration: underline;
}

#toc .-h2 {
  font-size: 80%;
}

#toc .-h2 a {
  padding-left: 10px;
}

#toc .-h3 {
  font-size: 60%;
}

#toc .-h3 a {
  padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}